---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import { SOCIALS } from "@config";
import Modal from "@components/modal.astro";
import GalleryLayout from "@layouts/GalleryLayout.astro";

const socialCount = SOCIALS.filter(social => social.active).length;
---
<GalleryLayout>

    <Header />

    <main class="antialiased p-4 md:ml-64 h-auto pt-20">
    </main>

    <Modal />
    
    <Footer />

</GalleryLayout>





