---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import { SOCIALS } from "@config";
import Modal from "@components/modal.astro";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout/>
<Header />
    <div class="flex justify-center">
        <h1 class="font-bold underline align-center">My Astrophotography Gallery.</h1>
    </div>
    <div class="flex justify-center pb-6 pt-6">
        <p class="semibold align-center">For image details, check out <LinkButton
            className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
            href="https://www.astrobin.com/users/cheesyminecart/"
          >my AstroBin account!</LinkButton>
    </div>

    <div class="grid grid-cols-3 md:grid-cols-2 gap-4 h-1/2 w-1/2 justify-center justify-self-center m-auto">
        <div>
            <img 
            class="h-auto max-w-full rounded-lg" 
            src="/blog-images/Light_Jupiter_1.png" 
            alt="TESTING!">
        </div>
    </div>
    
<Footer />


