---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import { SOCIALS } from "@config";
import Modal from "@components/modal.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Gallery from "@components/gallery.astro";
import GalleryLayout from "@layouts/GalleryLayout.astro";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<GalleryLayout>
    <Header />

    <head>
        <span class="font-bold text-5xl underline flex items-center justify-center p-4">
            My Astrophotography Gallery! <br>
        </span>
        <span class="italic font-bold text-xl flex items-center justify-center p-4 bottom-10">
            Click on each Image for details! 
        </span>
    </head>

    <div class="antialiased p-4 md:ml-64 h-auto pt-20">
        <main class="main-content">
            <Gallery />
        </main>
    </div>

    <Footer />
</GalleryLayout>

