---
export const prerender = true;
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const errors = { username: "", email: "", password: "" };
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout>
  <Header />
  <main id="subscribe-form">
    <section id="subbox">
      <p>This blog is updated every so often! Be at the forefront of any developments we make.</p>
      <form name="contact" action="" method="POST" data-netlify="true">
        <p class="hidden">
          <label>
            Don't fill this out if you're human: <input name="bot-field" />
          </label>
        </p>
        <p>
          <label>Your Email: 
            <input type="email" name="email" /required>
          </label>
        </p>
        <p>
          <button type="submit">Submit</button>
        </p>
      </form>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  input[type=email]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
  }

  input[type=submit]{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .regHeader{
    padding: 70px 70px 70px 70px ;
    font-size: 36px;
  }

  .subbox{
    justify-content: center;
    display: flex;
    height: 400px;
    width: 800px;
    border-radius: 25px;
    margin: 40px 50px;
    padding: 70px;
    background-color: #E0DCDB;
    font-size: x-large;
    box-sizing: border-box;
    resize: both;
  }
</style>
