---
export const prerender = true;
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const errors = { username: "", email: "", password: "" };
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="subbox">
      <h1 id="regHeader">Register</h1>
      <p id="regPara">Be at the forefront of any of our developments.</p>
      <form name="contact" action="" method="POST" data-netlify="true">
        <p class="hidden">
            <label>
            Don't fill this out if you're human: <input name="bot-field"/>
            </label>
          </p>
          <p>
            <label id="link-enter">Your Email: 
              <input type="email" name="email" placeholder="example@gmail.com"/required>
            </label>
          </p>
          <p>
            <button type="submit" id="subButton" style="font-weight:bolder">Submit</button>
          </p>
        </form>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: medium;
    border: black;
  }

  input[type=submit]{
    border: black;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: medium;
    margin: auto;
  }

input[type="text"]#subdomain{
    -webkit-appearance: none!important;
    border: 1px solid gray;
    border-right: 0px;
    outline: none;
    margin: auto;
}

  #regHeader{
    padding: 5px ;
    font-size: 42px;
    margin: 8px 0;
    font-weight: bold;
    text-decoration: underline;
    color:black;
    text-align: left;
  }

  #regPara{
    padding: 5px ;
    font-size: 18px;
    margin: 8px 0;
    font-style: italic;
    line-height: normal;
    width: auto;
    color: black;
    opacity: 70%;
    text-align: left;
    margin: auto;
  }

  #subbox{
    justify-content: center;
    display: block;
    height: 210px;
    width: 600px;
    border-radius: 15px;
    font-size: medium;
    box-sizing: border-box;
    border-color: black;
    text-align: center;
    position: fixed;
    top: 250px;
    right: 435px;
    margin: auto;
    width: 40%;
  }
  #link-enter{
    justify-self: left;
    font-size: 20px;
    color: black;
    position: relative;
    border-radius: 15px;
    right: 50px; 
    margin:auto;
  }
  /* #subButton{
    position: fixed;
    top: 400px;
    right: 480px;
    border: black;
    border-radius: 15px;
    box-sizing: border-box;
    margin: auto;
  } */

  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
</style>
