---
export const prerender = true;
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

const errors = { username: "", email: "", password: "" };
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email");
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout>
  <Header />
  <main id="main-content" class="container mx-auto">
    <section id="hero">
      <h1 id="regHeader">Register</h1>
      <p id="regPara">Be at the forefront of any of our developments.</p>
      <form name="contact" action="" method="POST" data-netlify="true">
        <p class="hidden">
            <label>
            Don't fill this out if you're human: <input name="bot-field"/>
            </label>
          </p>
          <p>
            <label><span id="link-enter">Your Email:</span> 
              <input type="email" id="input-box" name="email" placeholder="example@gmail.com"/required>
            </label>
            <button class="bg-[#94a3b8]hover:bg-[#64748b] text-[#FFFFFF]" type="submit" id="subButton" style="font-weight:bolder">Submit</button>
          </p>
        </form>
    </section>
  </main>

  <Footer />
</Layout>

<style>

  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block font-bold sm:my-8 sm:text-5xl pt-24 underline;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2 p-2;
  }
  #hero h2 {
    @apply text-2xl font-semibold tracking-wide;
  }

  #regPara{
    @apply italic opacity-60;
  }

  #subButton{
    @apply box-border h-10 w-24 text-center rounded;
  }

  #link-enter{
    @apply text-2xl font-bold;
  }

  #input-box{
    @apply rounded-lg p-4 max-w-fit text-right;
  }
  # 
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
</style>
