<div
  class="fixed h-full w-full bg-gray-700/60 flex items-center justify-center top-0 bottom-0"
  transition:name="photo_details"
>
  <div
    class="max-w-lg rounded-lg shadow dark:border-gray-700 dark:bg-gray-800 bg-white border border-gray-200"
  >
    <a href="/gallery_frontend">
      <img
        class="rounded-t-lg"
        src="/blog-images/mineral-moon.jpeg"
        alt="cover image"
      />
    </a>

    <div class="p-5 bg-slate-200 border border-gray-200">
      <a
        href="#"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 items-center justify-center mx-auto"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Noteworthy technology acquisitions 2021
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          Here are the biggest enterprise technology acquisitions of 2021 so
          far, in reverse chronological order.
        </p>
      </a>
    </div>
  </div>
</div>
